@import url('https://fonts.googleapis.com/css?family=Rubik');

body, html { height: 100%;}

body {
    margin:0;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: 1fr 80% repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    /* grid-gap: 5px; */
    background-color: #334;
    grid-template-areas:
        "header header header header header"
        "hero hero hero hero hero"
        "left main main aside right"
        "footer footer footer footer footer";
}

header {
    grid-area: header;
    /* grid-column-end: span 4; */
    /* padding: 15px; */
    /* background-color: #4b4b4b; */
    /* z-index: 100;
    position: absolute;
    top: 5px;
    margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    grid-template-areas:
        "header-left header-right";
    /* margin: 10px; */
}

header #site-info {
    /* padding: 10px; */
    /* grid-area: header-left; */
    /* grid-column: 1 / 2; */
}

header #site-name {
    color: white;
}

#logo>img {
    max-height: 100px;
    /* padding: 15px 15px 0 15px; */
}

nav {
    justify-self: right;
    grid-area: header-right
}

nav a { text-decoration: none;}
nav ul { list-style-type: none; }
nav ul li {
    display: inline;
}
nav ul li a { color: white; padding: 15px; }
nav a:hover { text-decoration: underline;}

#hero {
    grid-area: hero;
    /* background-color: aqua; */
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: relative;
}

#hero-img {
    width: 100%;
    height: 100%;
    background-image: url("../img/autumn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

#hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#hero-content>h1 {
    font-size: 4em;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

}

#hero-content>h2 {
    font-size: 2em;
    text-shadow: 1px 1px black;
    margin: 0;
    padding: 0;
}

main {
    grid-area: main;
    background-color: white;
}

aside {
    grid-area: aside;
    background-color: lightgray;
}

footer {
    grid-area: footer;
    background: lightgray;

}

@media (max-width: 1024px) {
    body {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 40px 40px 80% repeat(2, 1fr);
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "hero hero hero"
            "main main aside"
            "footer footer footer";
    }
}